@tailwind base;
@tailwind components;
@tailwind utilities;
.ag-theme-alpine {
  --ag-font-size: 10px;
  /* disable all borders */
  --ag-borders: none;
  --ag-row-border-style: dashed;
  --ag-row-border-width: 5px;
  --ag-row-border-color: rgb(150, 150, 200);
  --ag-cell-horizontal-border: solid rgb(150, 150, 200);
}
